<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Express | Node | MongoDB | API App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://kit.fontawesome.com/29cb2c9a11.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Links to API's</h1>
    <!-- Links to Other API's -->
		<ul>
			<!-- <li class="api-icon"><a href="/contacts"><i class="fas fa-address-book"></i> Address Book API</a></li> -->
			<li class="api-icon"><a href="/contacts"><i class="fas fa-address-book"></i>Address Book API</a></li>
			<li class="api-icon"><a href="/posts"><i class="fas fa-pencil-alt"></i> Posts/Blog API</a></li>
			<li class="api-icon"><a href="/tasks"><i class="fas fa-tasks"></i> Tasks Manager API</a></li>
			<li class="api-icon"><a href="/employees"><i class="fas fa-users"></i> Team Tracker API</a></li>
			<li class="api-icon"><a href="/quotes"><i class="fas fa-quote-left"></i> Quotes API</a></li>
		</ul>

		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
